* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1140px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav_menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

h1 {
  font-size: 72px;
}

#first_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0;
}

#first_section p {
  font-size: 20px;
  color: #515151;
  width: 450px;
  margin-top: 48px;
  margin-bottom: 64px;
}

.orange_accent {
  background-color: #FFB901;
  border-radius: 65px;
  padding: 0 15px;
}

.digital_accent {
  font-weight: bold;
}

.black_accent {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: fit-content;
  padding: 16px 40px;
}

#achievements_section {
  display: flex;
  justify-content: space-between;
  padding: 72px 0;
}

#achievements_section > div {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

#achievements_section > div p:first-child {
  font-size: 72px;
  font-weight: 600;
}

#achievements_section > div p:last-child {
  font-size: 18px;
}

#achievements_section > div p:last-child span{
  display: block;
}
