* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1140px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav_menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
  font-weight: bold;
}

.sub_header {
  font-size: 24px;
  color: #515151;
  width: 556px;
  text-align: center;
}

#first_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0;
}

#first_section p {
  font-size: 20px;
  color: #515151;
  width: 450px;
  margin-top: 48px;
  margin-bottom: 64px;
}

.orange_accent {
  background-color: #FFB901;
  border-radius: 65px;
  padding: 0 15px;
}

.digital_accent {
  font-weight: bold;
}

.black_accent {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: fit-content;
  padding: 16px 40px;
}

#achievements_section {
  display: flex;
  justify-content: space-between;
  padding: 72px 0;
}

#achievements_section > div {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

#achievements_section > div p:first-child {
  font-size: 72px;
  font-weight: 600;
}

#achievements_section > div p:last-child {
  font-size: 18px;
}

#achievements_section > div p:last-child span{
  display: block;
}

#portfolio_section {
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#portfolio_section .section_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#portfolio_section .section_description > span {
  font-size: 24px;
}

#portfolio_section .portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 658px);
  gap: 15px;
}

#portfolio_section .portfolio_container > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  padding: 32px;
}

#portfolio_section .portfolio_container > div:first-child {
  background-image: url('./media/portfolio_1.png');
  background-position: center;
}

#portfolio_section .portfolio_container > div:nth-child(2) {
  background-image: url('./media/portfolio_2.png');
  background-position: center;
}

#portfolio_section .portfolio_container > div:last-child {
  background-image: url('./media/portfolio_3.png');
  background-position: center;
}

#portfolio_section .portfolio_container > div p:first-child {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#portfolio_section .portfolio_container > div p:last-child {
  color: #FFB901;
  font-size: 18px;
}
