h1 {
  font-size: 72px;
}

#first_section p {
  font-size: 20px;
  color: #515151;
}

.orange_accent {
  background-color: #FFB901;
  border-radius: 100px;
}

.digital_accent {
  font-weight: bold;
}

.black_accent {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: fit-content;
}
